<div class="container">
  <h1>YQL Test <span class="glyphicon glyphicon-pencil"></span> <small>by Ken</small></h1>
  <hr>
  <div class="introduction">
    <h2 class="center">Database Example</h2>
    
  </div>
  <!-- Let the person input their username and then upon submitting and hitting
  join game call the joinGame() function in the angular app -->
  <form ng-submit="newUser()">
    <div class="form-group">
      <label for="nameInput">Desired Username:</label>
      <input type="text" class="form-control" id="nameInput" placholder="username" ng-model="userName">
    </div>
    <button type="submit" class="btn btn-primary" ng-disable="!text">Sign Up</button>
  </form>
  <p ng-model="userNameResponse">{{userNameResponse}}</p>

  <form ng-submit="getData()">
    <div class="form-group">
      <label for="stockInput">Desired Stock Price:</label>
      <input type="text" class="form-control" id="stockInput" placholder="JNJ" ng-model="stockName">
    </div>
    <button type="submit" class="btn btn-primary" ng-disable="!text">Search Quotes</button>
  </form>
  <p ng-model="price">{{price}}</p>

  <form ng-submit="newPost()">
    <div class="form-group">
      <label for="postInput">New Post Name</label>
      <input type="text" class="form-control" id="newPostInput" placholder="JNJ" ng-model="postName">
    </div>
    <button type="submit" class="btn btn-primary" ng-disable="!text">New Post</button>
  </form>
  <ul>
    <li ng-repeat-start="post in posts" class="postName">{{post.postName}}</li>
    <li ng-repeat-end class="postUserName">By: {{post.userName}}</li>
  </ul>
</div>
